.env
.DS_Store
.pnpm-store/

# Go
backend/bin/
backend/coverage.out

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
backend/internal/adapter/inbound/http/web/dist/*
!backend/internal/adapter/inbound/http/web/dist/.keep
/data/
